@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #183086;
    font-family: 'Poppins', sans-serif;
}

/* Scrollbar*/
::-webkit-scrollbar {
    width: 8px;
    background: #183086;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 255, 0.753);
    border-radius: 5px;
}
/*Scrollbar*/

/* Inicio Topo */
header {
    width: 100%;

    background: whitesmoke;

    padding: 20px 20px;
}
    /* Inicio navbar*/
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
}

.logo img{
    height: 80px;
    border-radius: 50px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 40px;
}

li {
    margin-left: 10px;
    transition: 3s;
}

li > a {
    color: #183086;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 500;
}

.menu li > a:hover {
    color: #183086;
    border: 1px solid;
}
    /* Fim navbar*/
/* Fim Topo */


/* Inicio Principal */
main {
    height: 100vh;
    max-width: 1200px;
    /*background: rgb(0, 36, 241);*/
    margin: 0 auto;
}

    /* Inicio Heatmap */
.Heatmap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    height: 500px;
    width: 100%;
}

.Heatmap-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}

.Heatmap-text h6 {
    font-size: 17px;
    margin-bottom: -20px;
}

.Heatmap h1 {
    width: 100%;
}

.Heatmap p {
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

.Heatmap-img {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.Heatmap-img img {
    height: 230px;
    margin-bottom: 80px;
}

.btn {
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    margin-right: 100px;
}

.btn a {
    background: whitesmoke;
    color: #183086;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 1.5s;
}

a.portfólio:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
}

a.contato {
    background: transparent;
    color: white;
    border: 1px solid white;
}

a.contato:hover {
    background: white;
    border: none;
    color: #183086;
}
    /* Fim Heatmap */

    /* Inicio Sobre */
#Sobre {
    width: 100%;
    height: 200px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.apresentação {
    width: 800px;
    background:transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
}


div.foco {
    margin-top: 100px;
    margin-bottom: 60px;
    padding: 0px 80px;
    text-align: center;
}

.foco span {
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
}

.apresentação p {
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
    /* Fim Sobre */

    /* Inicio Linguagens */
.Linguagens {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.linguagens-1 {
    width: 300px;
    height: 500px;
    padding: 100px 100px;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.linguagens-1 h4 {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

div.linguagens-2 {
    width: 200px;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 180px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;    
}

div.linguagens-2 h6 {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

div.img-linguagens {
    width: 250px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 10px;
}
    /* Fim Linguagens */

    /* Inicio Ferramentas */
.Ferramentas {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ferramentas-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 130px;
}


.ferramentas-1 h4 {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.ferramentas-2 {
    width: 100%;
    display: flex;
    gap: 0 160px;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 17px;
}

.ferramentas-2 h6 {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.ferramentas-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 130px;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

    /* Fim Ferramentas */

    /* Inicio serviços */
/* Seção serviços */
section#Serviços {
    margin: 200px 0px;
}

section#Serviços > h4 {
    color: white;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
}

.content-serv {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 100px;
    justify-content: center;
}

.serv-card {
    display: flex;
    gap: 20px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(5, 1, 109);
    box-shadow: 1px 0px 3px 0px white;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    padding: 0px 20px;
}

.serv-card h4 {
    color: white;
    font-size: 17px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.serv-card p {
    color: white;
    font-size: 15px;
}
/*Seção serviços*/
    /* Fim serviços */

    /* Inicio cards */
.cards {
    width: 100%;
    margin: 150px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}


div.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
    background: rgba(105, 81, 243, 0.897);
    border-radius: 25px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img {
    height: 130px;
    margin-top: 25px;
}

.card-text {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text span {
    width: 90%;
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}
    /* Fim Cards */

    /* Inicio Portfólio */
/* Seção portfólio */
#Portfólio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.port-card {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px 0px;
}

.port-card h3 {
    color: white;
}

#Portfólio h4 {
    color: white;
}

#Portfólio p {
    color: white;
    border-bottom: 1px solid white;
    border-radius: 5px 0px 0px 0px;
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.img-port-1 {
    box-shadow: 1px 1px 1px 1px black;
    height: 500px;
    width: 400px;
}

.img-port-1 img {
    height: 500px;
    width: 100%;
    transition: 1.2s;
}

.img-port-1 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* Seção portfólio */
    /* Fim Portfólio */

    /* Inicio Contato */
#contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    height: 30px;
}

.title h4 {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.contato-area {
    display: flex;
    flex-direction: row;
    width: 280px;
    height: 120px;
    justify-content: flex-start;
    align-content: center;
}


.img-contato {
    display: flex;
    flex-direction: column;
    gap: 22px 0px;
}

.img-contato img {
    height: 26px;
}

.link-contato {
    display: flex;
    flex-direction: column;
    gap: 22px 0px;
    margin-top:2px;
    margin-left: 10px;
    width: 250px;
    height: 110px;
}

.link-contato a, .link-contato p{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.link-contato a {
    width: 60px;
}
    /* Fim Contato */


    /* Inicio Footer */
footer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

footer img {
    height: 15px;
    margin-top: 5px;
}

footer h4 {
    color: white;
    font-weight: 500;
    font-size: 17px;
}
    /* Fim Footer */
@media screen and (max-width:1220px) {
    #Contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 890px) {
    .apresentação p {
        margin-top: 150px;
        font-size: 17px;
    }

    .foco span {
        position: relative;
        top: 60px;
    }

    .cards {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 627px) {
    .card-text span {
        width: 90%;
    }
}

@media screen and (max-width: 530px) {

    .menu {
        flex-direction: column;
        margin: 130px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .Heatmap h1 {
        font-size: 23px;
        width: 90%;
    }

    .Heatmap-text h6, .Heatmap-text h1, .Heatmap-text p {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 480px) {
    .menu {
        flex-direction: column;
        margin: 125px;
        margin-top: 50px;
        margin-bottom: 10px;
        gap: 10px;
    }

    li a {
        font-weight: 500;
    }

    .Heatmap h1, .Heatmap p, .Heatmap h6{
        font-size: 16px;
        position: relative;
        left: 0rem;
    }

    h1.text-g {
        width: 20rem;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .btn a {
        font-weight: 500;
    }

    .apresentação p {
        margin-top: 80px;
    }

    footer h4 {
        font-weight: 500;
    }
}

@media screen and (max-width: 375px) {
    .menu {
        gap: 0 10px;
        margin-top: 20px;
    }

    .Heatmap-text {
        width: 350px;
    }

    .Heatmap h1, .Heatmap p, .Heatmap h6 {
        left: 1rem;
    }

    h1.text-g {
        width: 80%;
    }

    .Heatmap-img img {
        height: 160px;
    }


    .apresentação {
        margin-bottom: 130px;
    }

    footer img {
        height: 15px;
    }

    footer h4{
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .menu {
        flex-direction: column;
        margin: 25px;
        gap: 10px 0px;
    }
    .Heatmap h1, .Heatmap p, .Heatmap h6 {
        left: 0rem;
    }

    .Heatmap h1 {
        font-size: 14px;
        width: 270px;
        margin-bottom: 10px;
    }

    .Heatmap-text {
        width: 300px;
        margin-top: -10px;
        margin-left: -15px;
    }

    .apresentação p {
        font-size: 14px;
    }

    .foco span {
        font-size: 16px;
    }
    
    div.linguagens-2 {
        gap: 120px;
    }

    div.img-linguagens {
        gap: 60px;
    }

    .ferramentas-2 {
        gap: 100px;
    }

    .ferramentas-img {
        gap: 60px;
    }
    

    div.card {
        width: 260px;
    }

    .card-img img{
        height: 120px;
    }

    span.card-text {
        font-size: 14px;
    }

    footer img {
        position: relative;
        bottom: 3px;
        height: 14px;
    }

    footer h4{
        font-size: 13px;
        font-weight: bold;
        width: 50%;
    }
}